
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div style="background-image:url('food.jpg')">
        <form method="post" action="Index3">
            Username <input type="text" name="username" /><br /><br />
            Password <input type="password" name="password" /><br /><br />
            <input type="submit" value="Login" /><br /><br />
            
        </form>
        <form method="post" action="Index4"><input type="submit" value="Signup" /></form>
    </div>
</body>
</html>
