
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>WELCOME TO CANTEEN</h1>
        <p> What are you ordering today?</p>
        <ol><li>Pizza</li><li>Burger</li></ol>
        <form method="post" action="Index1">
            <p><input type="submit" value="Order now!"></p>
        </form>

    </div>
</body>
</html>
