
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <div>
        <form method="post" action="Index5">
            <input type="checkbox" name="Burger" value="Burger"> Burger<br>
            <input type="checkbox" name="Pizza" value="Pizza"> Pizza<br>
            <input type="submit" value="Add to cart" />
        </form>
    </div>
</body>
</html>
