
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index5</title>
</head>
<body>
    <div> 
        <form method="post" action="Index6">
            Your cart has:
            <ol><li>Pizza</li><li>Burger</li></ol>
            <input type="submit" value="Place order" />
        </form>
        <form method="post" action="Index3">
            <input type="submit" value="Go back" />
        </form>
    </div>
</body>
</html>
